[project]
name = "mcp-3ia4"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastmcp>=2.13.1",
    "mcp[cli]>=1.22.0",
    "requests>=2.32.5",
]
